<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">

      <div class="span6">
        <ul class="nav nav-list">
          <li class="nav-header">Canciones tocadas</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Canción 1</a></li>
          <li><a href="#">Canción 2</a></li>
          <li><a href="#">Canción 3</a></li>
          <li><a href="#">Canción 4</a></li>
          <li><a href="#">Canción 5</a></li>
          <li><a href="#">Más...</a></li>
        </ul>
      </div>

      <div class="span6">
        <ul class="nav nav-list">
          <li class="nav-header">Generos Favoritos</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Género 1</a></li>
          <li><a href="#">Género 2</a></li>
          <li><a href="#">Género 3</a></li>
          <li><a href="#">Género 4</a></li>
          <li><a href="#">Género 5</a></li>
          <li><a href="#">Más...</a></li>
        </ul>
      </div>

    </div>
    <div class="row-fluid">
      <div class="span6">
        <ul class="nav nav-list">
          <li class="nav-header">Canciones subidas</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Canción 1</a></li>
          <li><a href="#">Canción 2</a></li>
          <li><a href="#">Canción 3</a></li>
          <li><a href="#">Canción 4</a></li>
          <li><a href="#">Canción 5</a></li>
          <li><a href="#">Más...</a></li>
        </ul>
      </div>

      <div class="span6">
        <ul class="nav nav-list">
          <li class="nav-header">Amigos Seguidos</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Amigo 1</a></li>
          <li><a href="#">Amigo 2</a></li>
          <li><a href="#">Amigo 3</a></li>
          <li><a href="#">Amigo 4</a></li>
          <li><a href="#">Amigo 5</a></li>
          <li><a href="#">Más...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>